* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #212121;
    color: rgb(191, 247, 106);
}

header {
    background-color: rgb(223, 154, 26);
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
}


main {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    background-color: pink;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;

}

form input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

form button {
    background-color: #fb8500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#tasks {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-top: 20px;
    text-align: center;
    color: darkblue;
    font-size: 2.1rem;

}

#list-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

#item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#item span {
    font-size: 2rem;
    font-weight: 500;
}

#item:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#delete {
    background-color: #e63946;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#delete:hover {
    background-color: #f72536;
    transform: scale(1.1);
    transition: 0.2s;
}